.container {
    display: flex;
    justify-content: space-between;
  }
  
  .products {
    width: 100%;
  }
  
  .cart {
    width: 40%;
  }
  
  .product-item {
    margin-bottom: 20px;
    display: block;
  }
  
  .cart-item {
    margin-bottom: 20px;
  }
  
  .total-price {
    font-weight: bold;
  }

  .layout {
    text-align: center;
  
  }

  